header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.intro {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

button {
  color: white;
  background-color: blueviolet;
  border-style: none;
  padding: 10px;
}

.quizContent {
  display: block;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

li {
  list-style: none;
  background-color: blueviolet;
  width: 50%;
  margin: 10px;
  padding: 25px 10px 25px 25px;
  color: white;
}

li:hover {
  background-color: #5e2593;
}

ul {
  padding: 0;
}

.hide {
  display: none;
}

form {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

input {
  display: block;
  margin: 25px auto;
}
